#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .facebox-popup {
  position: relative;
}

#facebox .facebox-content {
    overflow: auto;
}

#facebox .facebox-body {
  padding: 10px;
  background: #fff;
  width: 370px;
  border: 10px solid rgb(120, 120, 120);
  border-color: rgba(90, 90, 90, 0.7);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#facebox .facebox-loading {
  text-align: center;
}

#facebox .facebox-image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .facebox-footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .facebox-footer img {
  vertical-align: middle;
}

#facebox-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox-hide {
  z-index:-100;
}

.facebox-overlayBG {
  background-color: #000;
  z-index: 99;
}

.ie6 #facebox-overlay {
  position: absolute;
  height: expression("document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'");
}
